<div class="cases-grid">
    <div class="cases-grid__item">
        <a href="#" target="_blank">Успішні кейси</a>
    </div>
    <div class="cases-grid__item">
        <h4>Підготовка комплексного юридичного висновку для європейського банку</h4>
        <a href="http://wannabiz.com.ua/" target="_blank">WannaBiz</a>
    </div>
    <div class="cases-grid__item">
        <h4>Супровід проекту з купівлі-продажу сільськогосподарської продукції</h4>
        <a href="https://tapgerine.com/" target="_blank">tapgerine</a>
    </div>
    <div class="cases-grid__item">
        <h4>Супровід проекту з купівлі-продажу сільськогосподарської продукції</h4>
        <a href="https://ithillel.ua/" target="_blank">Hillel IT School</a>
    </div>
    <div class="cases-grid__item">
        <h4>Представництво інтересів великого зернотрейдера в податковому спорі</h4>
        <a href="https://3dlook.me/" target="_blank">3D LOOK</a>
    </div>
    <div class="cases-grid__item">
        <h4>Оскарження податкових повідомлень-рішень ДФС</h4>
        <a href="https://adtelligent.com/" target="_blank">adtelligent</a>
    </div>
    <div class="cases-grid__item">
        <h4>Супровід проекту з кредитування агротрейдерів мальтійським банком</h4>
        <a href="https://clickky.biz/" target="_blank">Clickky</a>
    </div>
</div>