<div class="publications-grid">
    <div class="publications-grid__item">
        <div class="publications-grid__item-intro">
            <a href="#">
                <h5>Валютний контроль помер, хай живе валютний контроль!</h5>
            </a>           
            <span>14 червня</span>
            <p>Експерти проводять конференції, круглі столи та іншого штибу заходи на тему «лібералізація валютного законодавства».
            Юристи-експерти-новелісти стирають пальці об «ctrl+c/ctrl+v».</p>
        </div>
    </div>
    <div class="publications-grid__item">
        <img src="./assets/img/publications-img1.png" alt="publications_image">
        <div class="publications-grid__item-intro">
            <a href="./publications_page.html">
                <h5>Equity associate</h5>
            </a>          
            <span>14 червня</span>
            <p>На проектах я джун. При цьому я співвласник юридичної фірми. Як це відбулося. Перед вступом батьки мені казали, що якщо
            буду…</p>
        </div>
    </div>
    <div class="publications-grid__item">
        <img src="./assets/img/publications-img2.png" alt="publications_image">
        <div class="publications-grid__item-intro">
            <a href="./publications_page.html">
                <h5>Штраф для «Корпорації добра»: що буде з Google та іншими за порушення GDPR</h5>
            </a>          
            <span>29 вересня</span>
            <p>І чому стягнення у 50 млн євро може стати доленосним прецедентом За матеріалами Mind.ua 21 січня Національна комісія із
            захисту даних.</p>
        </div>
    </div>
    <div class="publications-grid__item">
        <img src="./assets/img/publications-img3.png" alt="publications_image">
        <div class="publications-grid__item-intro">
            <a href="./publications_page.html">
                <h5>Заповіт міленіала</h5>
            </a>           
            <span>19 серпня</span>
            <p>Що і як передаватимуть у спадщину сучасні влогери, опініон лідери і криптомільйонери Типовий спадок українського
            покоління Х виглядає так: квартира у…</p>
        </div>
    </div>
    <div class="publications-grid__item">
        <img src="./assets/img/publications-img4.png" alt="publications_image">
        <div class="publications-grid__item-intro">
            <a href="./publications_page.html">
                <h5>Закон про мови: як зробити свій сайт відповідним</h5>
            </a>            
            <span>19 серпня</span>
            <p>Наталія Кирик, керівник контент студії Wordfactory.ua По-перше, це красиво! Це аргумент номер один на користь
            україномовного сайту. По-друге, це ефективно. У…</p>
        </div>
    </div>
    <div class="publications-grid__item">
        <img src="./assets/img/publications-img5.png" alt="publications_image">
        <div class="publications-grid__item-intro">
            <a href="./publications_page.html">
                <h5>Компенсація витрат на навчання дитини в дитячому садку та школі</h5>
            </a>           
            <span>5 Лютого 2018</span>
            <p>Компенсація витрат на навчання дитини в дитячому садку та школі</p>
        </div>
    </div>
</div>
