<div class="services-grid">
    <div class="services-grid__item">
        <img src="./assets/icons/shopping.svg" alt="shopping">
        <a href="./service_page.html">
            <h4>IT та електронна комерція</h4>
        </a>
        <p>Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери — юридична робота відволікає вас
        від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста.</p>
    </div>
    <div class="services-grid__item">
        <img src="./assets/icons/finder.svg" alt="finder">
        <a href="#">
            <h4>Комплексний щоденний
                юридичний супровід</h4>
        </a>   
        <p>До того ж, з часом робота стане однотипною і нецікавою для штатного юриста. А ще ми добре знаємо, як важко в Україні
        знайти хорошого кандидата з досвідом у сфері інформаційних технологій.</p>
    </div>
    <div class="services-grid__item">
        <img src="./assets/icons/crowdfunding.svg" alt="crowdfunding">
        <a href="#">
            <h4>Структуризація корпоративних відносин</h4>
        </a> 
        <p>Замість просто надавати юридичні послуги, ми закріпимо юриста або цілу команду, які впишуться в повсякденне життя вашої
        компанії.</p>
    </div>
    <div class="services-grid__item">
        <img src="./assets/icons/team.svg" alt="team">
        <a href="#">
            <h4>Побудовa договірних відносин</h4>
        </a>
        <p>Раз на тиждень, чи тиждень на місяць у вас під боком є ваш власний юрист. Будь-хто в компанії може впіймати його біля
        кавоварки і просто поговорити про поточні справи замість очікування статусу update.
        </p>
    </div>
    <div class="services-grid__item">
        <img src="./assets/icons/shield.svg" alt="shield">
        <a href="#">
            <h4>Захист бізнесу, інтелектуальної власності</h4>
        </a>
        <p>А весь інший час він працюватиме над новими різноплановими проектами, тому вже точно не зупиниться в професійному
        розвитку. Так чи інакше, на вас працюватиме весь Axon Partners замість корпоративного юриста.</p>
    </div>
    <div class="services-grid__item">
        <img src="./assets/icons/lawyer.svg" alt="lawyer">
        <a href="#">
            <h4>Судове представництво</h4>
        </a>
        <p>Невелика компанія, середнього розміру, чи вже лідер ринку? Локальний бізнес або транснаціональна компанія? Маєте власний
        юридичний відділ, чи ні?</p>
    </div>
</div>