<div class="publications">
    <a href="./publications.html">
        <span>Публікації</span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.5">
                <path d="M3.5 1.5L8 6L3.5 10.5" stroke="#24a3ff" stroke-width="2" />
            </g>
        </svg>
    </a>
    <h2>Нам э що розказати</h2>
    @@include('../../../pages/components/grid_component/GridPublications.html')
    <div class="btn">
        <button class="btn__inet" type="button">Ще публікації</button>
    </div>
</div>