<div id="carouselExampleIndicators" class="carousel slide-team" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="team">
                <div class="team__image">
                    <img src="./assets/img/man.png" alt="man">
                </div>
                <div class="team__info">
                    <a href="./team.html">
                        <span>команда</span>
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path d="M3.5 1.5L8 6L3.5 10.5" stroke="#24a3ff" stroke-width="2" />
                            </g>
                        </svg>
                    </a>
                    <h2>Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях,
                        коли більшість
                        безсилі.</h2>
                    <div class="employee-data">
                        <div class="employee-data__image">
                            <img src="./assets/img/man-mobile.png" alt="man">
                        </div>
                        <div class="employee-data__info">
                            <h5>Олександр Олександровський</h5>
                            <p>Керуючий партнер</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="team">
                <div class="team__image">
                    <img src="./assets/img/man3.png" alt="man">
                </div>
                <div class="team__info">
                    <a href="./team.html">
                        <span>команда</span>
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path d="M3.5 1.5L8 6L3.5 10.5" stroke="#24a3ff" stroke-width="2" />
                            </g>
                        </svg>
                    </a>
                    <h2>Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях,
                        коли більшість
                        безсилі.</h2>
                    <div class="employee-data">
                        <div class="employee-data__image">
                            <img src="./assets/img/man-mobile2.png" alt="man">
                        </div>
                        <div class="employee-data__info">
                            <h5>Оксана Кобзар</h5>
                            <p>Equity partner, Attorney-at-law</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="team">
                <div class="team__image">
                    <img src="./assets/img/man2.png" alt="man">
                </div>
                <div class="team__info">
                    <a href="./team.html">
                        <span>команда</span>
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path d="M3.5 1.5L8 6L3.5 10.5" stroke="#24a3ff" stroke-width="2" />
                            </g>
                        </svg>
                    </a>
                    <h2>Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях,
                        коли більшість
                        безсилі.</h2>
                    <div class="employee-data">
                        <div class="employee-data__image">
                            <img src="./assets/img/man-mobile.png" alt="man">
                        </div>
                        <div class="employee-data__info">
                            <h5>Владислав Мельник</h5>
                            <p>Associate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ol class="carousel-indicators carousel-team">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
</div>