<div id="experience">
    <div id="myCarousel" class="carousel slide values-carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators values-carousel__pagination">
            <li data-target="#myCarousel" data-slide-to="0" class="active">Послідовні</li>
            <li data-target="#myCarousel" data-slide-to="1">Клієнтоорієнтовані</li>
            <li data-target="#myCarousel" data-slide-to="2">Інноваційні</li>
            <li data-target="#myCarousel" data-slide-to="3">Бізнес-орієнтовані
            юристи</li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner values-carousel__slide">
            <div class="item active">
                <h3>1.Перевертаємо уявлення про юридичні послуги</h3>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають
                    прийняття ряду
                    важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.</p>
            </div>

            <div class="item">
                <h3>2.Перевертаємо уявлення про юридичні послуги</h3>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають
                    прийняття ряду
                    важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.</p>
            </div>

            <div class="item">
                <h3>3.Перевертаємо уявлення про юридичні послуги</h3>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають
                    прийняття ряду
                    важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.</p>
            </div>
            <div class="item">
                <h3>4.Перевертаємо уявлення про юридичні послуги</h3>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають
                    прийняття ряду
                    важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.</p>
            </div>
        </div>
        <ol class="carousel-indicators values-carousel__pagination2">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
    </div>
</div>    