$red-pink-gradient: linear-gradient(
  rgba(240, 20, 90, 1),
  rgba(239, 128, 128, 1)
);
$pink-red-gradient: linear-gradient(
  rgba(239, 128, 128, 1),
  rgba(240, 20, 90, 1)
);
$white: #ffffff;
$blue: #24a3ff;
$grey: #b3b3ba;
$red: #f0145a;
$darkblue: #686887;
$darkindigo: #323264;
$indigo: #46466e;
$black: #000000;
$bggrey: #f5f5fa;
$ltgrey: #e6e6f0;
