<div class="services__item">
    <div class="services__item-intro">
        <img src="./assets/icons/shopping.svg" alt="shopping">
        <h2>IT та електронна комеція</h2>
        <p>Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери — юридична робота відволікає вас
        від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста.
        </p>
        <p>До того ж, з часом робота стане однотипною і нецікавою для штатного юриста. А ще ми добре знаємо, як важко в Україні
        знайти хорошого кандидата з досвідом у сфері інформаційних технологій.</p>
        <button type="button">Безкоштовна консультація</button>
    </div>
    <div class="services__item-info">
        <h4>Послуги цього напрямку:</h4>
        <div class="service__direction">
            <ol>
                <li>супровід інвестиційних проектів з розвитку портової інфраструктури;</li>
                <li>паспортизація ГТС, внесення інформації про них в обов'язкові бази даних і реєстри;</li>
                <li>оформлення дозвільної документації для будівництва портових терміналів;</li>
                <li>оформлення дозвільної та іншої обов'язкової документації, необхідної для здійснення діяльності в порту (дозвіл на
                викиди, висновок по ОВНС, РТК і ін.);</li>
            </ol>
            <ol>
                <li>супровід процедур, пов'язаних з орендою державного майна в порту;</li>
                <li>супровід процедур, пов'язаних з підтвердженням статусу портового оператора, морського агента, лінії закордонного
                плавання;</li>
                <li>супровід процедур, пов'язаних з включенням компанії в межі порту;</li>
                <li>оскарження дій, пов'язаних з незаконним нав'язуванням послуг в порту компаніями-монополістами.</li>
            </ol>
        </div>
    </div>
</div>