<div class="awards">
    <h6>Досягнення</h6>
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/legal.png" alt="legal" style="max-width:100%;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/ligal-awards.png" alt="ligal-awards" style="max-width:100%;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/market-leaders.png" alt="market-leaders" style="max-width:100%;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/ulf.png" alt="ulf" style="max-width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/market-leaders.png" alt="market-leaders" style="max-width:100%;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/ulf.png" alt="ulf" style="max-width:100%;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/legal.png" alt="legal" style="max-width:100%;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/ligal-awards.png" alt="ligal-awards" style="max-width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/ligal-awards.png" alt="ligal-awards" style="max-width:100%;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/legal.png" alt="legal" style="max-width:100%;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/ulf.png" alt="ulf" style="max-width:100%;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="awards__image">
                                    <img src="./assets/img/market-leaders.png" alt="market-leaders" style="max-width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                    <li data-target="#blogCarousel" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
