<div class="skills">
    <div class="introduction">
        <h2>Перевертаємо уявлення про юридичні послуги.</h2>
        <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають
            прийняття ряду
            важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні. </p>
        <p>Prolegals – надійний бізнес-партнер, що підтверджується стабільним співробітництвом з міжнародними
        юридичними фірмами,
        довірою великих українських і міжнародних компаній, визнанням професійних рейтингів.</p>
    </div>
    <div class="advantages">
        <div class="advantages__item">
            <div class="heading">
                <img src="./assets/icons/experience.svg" alt="experience">
                <p>10+</p>
            </div>
            <p>років релевантного досвіду</p>
        </div>
        <div class="advantages__item">
            <div class="heading">
                <img src="./assets/icons/clients.svg" alt="experience">
                <p>10+</p>
            </div>
            <p>активних клієнтів, які довіряють нам свої доручення щомісячно</p>
        </div>
        <div class="advantages__item">
            <div class="heading">
                <img src="./assets/icons/ProBono.svg" alt="experience">
                <p>10+</p>
            </div>
            <p>годин роботи «pro bono» щорічно</p>
        </div>
    </div>
</div>